
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>AboutUs</h2>

<p>We are a web app to help users track current flights</p>

<h6>Our Mission</h6>
<p>Our Aim is to arm our users with flight tracking and make them more updated on current events effecting 21st Century travel. </p>